In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [8]:
engine = create_engine('mysql://root:qwer1234@127.0.0.1:3306/byebuying')
conn = engine.connect()

In [10]:
data = pd.read_sql_table(['item', 'image', 'category'], conn, index_col='itemid')
data.head()

TypeError: unhashable type: 'list'

In [ ]:
pivot = pd.pivot_table(data, index=['itemid'], values=['pcount'], columns=['username'])
pivot

In [13]:
dataset = {'itemid': np.arange(1, 1081), 'test': np.array([0 for _ in range(1080)])}
df = pd.DataFrame(dataset)
df = df.set_index('itemid')
df.to_csv('PurchaseHistory.csv')

In [23]:
test = pd.read_csv('PurchaseHistory.csv', index_col='itemid')
test

        test
itemid
1          0
2          0
3          0
4          0
5          0
...      ...
1076       0
1077       0
1078       0
1079       0
1080       0

[1080 rows x 1 columns]

In [31]:
test1 = pd.DataFrame({'test1':np.zeros(1080, dtype=np.uint8)})
test1

      test1
0         0
1         0
2         0
3         0
4         0
...     ...
1075      0
1076      0
1077      0
1078      0
1079      0

[1080 rows x 1 columns]

In [33]:
test['test1'] = np.zeros(1080, dtype=np.uint8)
test

        test  test1
itemid
1          0      0
2          0      0
3          0      0
4          0      0
5          0      0
...      ...    ...
1076       0      0
1077       0      0
1078       0      0
1079       0      0
1080       0      0

[1080 rows x 2 columns]

In [34]:
test.to_csv('PurchaseHistory.csv')

In [35]:
test = pd.read_csv('PurchaseHistory.csv', index_col='itemid')
test

        test  test1
itemid
1          0      0
2          0      0
3          0      0
4          0      0
5          0      0
...      ...    ...
1076       0      0
1077       0      0
1078       0      0
1079       0      0
1080       0      0

[1080 rows x 2 columns]

In [39]:
test['test2'] = np.zeros(1080, dtype=np.uint8)
test.to_csv('PurchaseHistory.csv')
test = pd.read_csv('PurchaseHistory.csv', index_col='itemid')
test

        test  test1  test2
itemid
1          0      0      0
2          0      0      0
3          0      0      0
4          0      0      0
5          0      0      0
...      ...    ...    ...
1076       0      0      0
1077       0      0      0
1078       0      0      0
1079       0      0      0
1080       0      0      0

[1080 rows x 3 columns]