In [52]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [8]:
engine = create_engine('mysql://root:qwer1234@127.0.0.1:3306/byebuying')
conn = engine.connect()

In [10]:
data = pd.read_sql_table(['item', 'image', 'category'], conn, index_col='itemid')
data.head()

TypeError: unhashable type: 'list'

In [ ]:
pivot = pd.pivot_table(data, index=['itemid'], values=['pcount'], columns=['username'])
pivot

In [13]:
dataset = {'itemid': np.arange(1, 1081), 'test': np.array([0 for _ in range(1080)])}
df = pd.DataFrame(dataset)
df = df.set_index('itemid')
df.to_csv('PurchaseHistory.csv')

In [23]:
test = pd.read_csv('PurchaseHistory.csv', index_col='itemid')
test

        test
itemid
1          0
2          0
3          0
4          0
5          0
...      ...
1076       0
1077       0
1078       0
1079       0
1080       0

[1080 rows x 1 columns]

In [31]:
test1 = pd.DataFrame({'test1':np.zeros(1080, dtype=np.uint8)})
test1

      test1
0         0
1         0
2         0
3         0
4         0
...     ...
1075      0
1076      0
1077      0
1078      0
1079      0

[1080 rows x 1 columns]

In [33]:
test['test1'] = np.zeros(1080, dtype=np.uint8)
test

        test  test1
itemid
1          0      0
2          0      0
3          0      0
4          0      0
5          0      0
...      ...    ...
1076       0      0
1077       0      0
1078       0      0
1079       0      0
1080       0      0

[1080 rows x 2 columns]

In [34]:
test.to_csv('PurchaseHistory.csv')

In [35]:
test = pd.read_csv('PurchaseHistory.csv', index_col='itemid')
test

        test  test1
itemid
1          0      0
2          0      0
3          0      0
4          0      0
5          0      0
...      ...    ...
1076       0      0
1077       0      0
1078       0      0
1079       0      0
1080       0      0

[1080 rows x 2 columns]

In [58]:
# test['test2'] = np.zeros(1080, dtype=np.uint8)
# test.to_csv('PurchaseHistory.csv')
test = pd.read_csv('PurchaseHistory.csv', index_col='itemid')
test

        test  zlel175
itemid
1          1        0
2          1        0
3          1        0
4          1        0
5          1        0
...      ...      ...
1076       0        0
1077       0        0
1078       0        0
1079       0        0
1080       0        0

[1080 rows x 2 columns]

In [72]:
import random
random.randint(1, 1081)

917

In [371]:
# 총 100명의 유저가 각각 최대 100개의 상품을 구매
import random
dataset = {'itemid': np.arange(1, 1081), 'test': np.array([0 for _ in range(1080)])}
random.randint(1, 1081)
df = pd.DataFrame(dataset)
df = df.set_index('itemid')
itemid = list([random.randint(1, 1080) for _ in range(30)])
for Id in itemid:
        df['test'][Id] += 1

for i in range(1, 1000):
    username = 'test'+str(i)
    df[username] = np.zeros(1080, dtype=np.uint8)
    itemid = list([random.randint(1, 1080) for _ in range(100)])
    for Id in itemid:
        df[username][Id] += 1
df

C:\Users\wngus\AppData\Local\Temp/ipykernel_33356/2617535992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[username][Id] += 1
C:\Users\wngus\AppData\Local\Temp/ipykernel_33356/2617535992.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[username] = np.zeros(1080, dtype=np.uint8)

,test,test1,test2,test3,test4,test5,test6,test7,test8,test9,...,test990,test991,test992,test993,test994,test995,test996,test997,test998,test999
itemid,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,1
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1076,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1077,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1078,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1079,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1080,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [336]:
df['test'].value_counts()

0    1055
1      20
2       5
Name: test, dtype: int64

In [337]:
user_similarity = df.corr()
user_similarity

,test,test1,test2,test3,test4,test5,test6,test7,test8,test9,...,test90,test91,test92,test93,test94,test95,test96,test97,test98,test99
test,1.000000,0.166160,0.170392,0.266467,0.231678,0.246995,0.240257,0.056788,0.182979,0.246995,...,0.112270,0.087860,0.246995,0.153575,0.153575,0.310638,0.302998,0.259574,0.309823,0.309823
test1,0.166160,1.000000,0.204913,0.198232,0.292598,0.459716,0.225893,0.364195,0.166160,0.146919,...,0.402844,0.326969,0.203791,0.162074,0.214638,0.220050,0.083227,0.193105,0.209846,0.209846
test2,0.170392,0.204913,1.000000,0.126103,0.173301,0.179822,0.223731,0.077289,0.217944,0.255096,...,0.179822,0.262675,0.079456,0.282156,0.235774,0.170392,0.119820,0.122841,0.185164,0.211001
test3,0.266467,0.198232,0.126103,1.000000,0.284616,0.281214,0.192825,0.219731,0.292677,0.142912,...,0.198232,0.232604,0.198232,0.336609,0.208783,0.371307,0.234348,0.292677,0.318050,0.346532
test4,0.231678,0.292598,0.173301,0.284616,1.000000,0.172352,0.167651,0.471761,0.094950,0.028057,...,0.100205,0.375581,0.100205,0.225980,0.314890,0.208890,0.225980,0.163314,0.152709,0.251763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
test95,0.310638,0.220050,0.170392,0.371307,0.208890,0.408664,0.214047,0.214047,0.131915,0.166160,...,0.220050,0.282078,0.408664,0.327902,0.352806,1.000000,0.128671,0.234043,0.337569,0.254333
test96,0.302998,0.083227,0.119820,0.234348,0.225980,0.267202,0.234348,0.080957,0.302998,0.293484,...,0.267202,0.356330,0.293484,0.246964,0.271255,0.128671,1.000000,0.203383,0.085700,0.193952
test97,0.259574,0.193105,0.122841,0.292677,0.163314,0.300884,0.266467,0.292677,0.157447,0.166160,...,0.273940,0.309823,0.166160,0.228287,0.178479,0.234043,0.203383,1.000000,0.226587,0.337569
test98,0.309823,0.209846,0.185164,0.318050,0.152709,0.180565,0.346532,0.261086,0.226587,0.239127,...,0.151284,0.185930,0.444093,0.302204,0.221015,0.337569,0.085700,0.226587,1.000000,0.366834
test99,0.309823,0.209846,0.211001,0.346532,0.251763,0.239127,0.147158,0.375015,0.171097,0.414812,...,0.180565,0.306533,0.209846,0.275141,0.302204,0.254333,0.193952,0.337569,0.366834,1.000000

In [338]:
n = 11
userid = 'test'
similar_users = user_similarity[:][userid].sort_values(ascending=False)[1:n]
similar_users

test89    0.462554
test49    0.393060
test30    0.377710
test64    0.365314
test44    0.365314
test33    0.365314
test59    0.354774
test31    0.337569
test88    0.336170
test13    0.327902
Name: test, dtype: float64

In [339]:
df[df.test != 0].index

Int64Index([10, 18, 19, 23, 24, 26, 28, 32, 34, 35, 38, 43, 53, 58, 62, 63, 64,
            65, 67, 69, 72, 77, 80, 88, 89],
           dtype='int64', name='itemid')

In [340]:
purchased_itemids = df[df.test != 0].index
purchased_itemids

Int64Index([10, 18, 19, 23, 24, 26, 28, 32, 34, 35, 38, 43, 53, 58, 62, 63, 64,
            65, 67, 69, 72, 77, 80, 88, 89],
           dtype='int64', name='itemid')

In [341]:
similar_users.index

Index(['test89', 'test49', 'test30', 'test64', 'test44', 'test33', 'test59',
       'test31', 'test88', 'test13'],
      dtype='object')

In [352]:
df_T = df.replace(0, np.NaN).T

In [353]:
similar_user_items = df_T[df_T.index.isin(similar_users.index)].dropna(axis=1, how='all')
similar_user_items

itemid,1,2,3,4,5,6,7,8,9,10,...,81,82,83,84,85,86,87,88,89,90
test13,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,2.0,...,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN
test30,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,NaN
test31,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN
test33,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
test49,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
test59,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,1.0
test64,NaN,1.0,1.0,NaN,NaN,1.0,2.0,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0
test88,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test89,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN

In [354]:
similar_user_items.drop(purchased_itemids, inplace=True, axis=1, errors='ignore') # 13, 18, 20, 21, 37, 41, 43, 44, 47, 54, 57, 58, 64, 65, 67, 71, 75, 81, 83, 87

In [355]:
similar_user_items

itemid,1,2,3,4,5,6,7,8,9,11,...,78,79,81,82,83,84,85,86,87,90
test13,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN
test30,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
test31,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
test33,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
test44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
test49,1.0,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
test59,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0
test64,NaN,1.0,1.0,NaN,NaN,1.0,2.0,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0
test88,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
test89,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [357]:
item_score = {}
for i in similar_user_items.columns:
    item_rating = similar_user_items[i]
    total = 0
    cnt = 0
    for j in similar_users.index:
        if pd.isna(item_rating[j]) == False:
            score = similar_users[j] * item_rating[j]
            total += score
            cnt +=1
    item_score[i] = total / cnt
item_score = pd.DataFrame(item_score.items(), columns=['item', 'score'])
ranked_item_score = item_score.sort_values(by='score', ascending=False)
ranked_item_score[:10]['item'].values

In [366]:
','.join(list(map(str, ranked_item_score[:10]['item'].values)))

'42,50,76,86,40,7,52,61,8,3'

In [367]:
import time

In [373]:
start = time.time() # 100명 시 0.12초, 1000명 시 3.2초
user_similarity = df.corr()

n = 11
userid = 'test'
similar_users = user_similarity[:][userid].sort_values(ascending=False)[1:n]

purchased_itemids = df[df.test != 0].index

df_T = df.replace(0, np.NaN).T

similar_user_items = df_T[df_T.index.isin(similar_users.index)].dropna(axis=1, how='all')
similar_user_items.drop(purchased_itemids, inplace=True, axis=1, errors='ignore')
item_score = {}
for i in similar_user_items.columns:
    item_rating = similar_user_items[i]
    total = 0
    cnt = 0
    for j in similar_users.index:
        if not pd.isna(item_rating[j]):
            score = similar_users[j] * item_rating[j]
            total += score
            cnt +=1
    item_score[i] = total / cnt
item_score = pd.DataFrame(item_score.items(), columns=['item', 'score'])
ranked_item_score = item_score.sort_values(by='score', ascending=False)
result = ranked_item_score[:10]['item'].values
print(time.time() - start, result)

3.1954805850982666 [ 659 1050  206 1028  755  578  913  302  623  513]

In [249]:
data = {'test1':[np.NaN, 1, 0, np.NaN, np.NaN, np.NaN, np.NaN, 0, 0, 1],
        'test2':[1, 1, 1, np.NaN, np.NaN, np.NaN, np.NaN, 0, 0, 0],
        'test3':[np.NaN, np.NaN, np.NaN, 0, 0, 0, 1, 1, 1, 0],
        'test4':[0, 1, 0, 0, np.NaN, 1, 1, 0, 0, 1],
        'test5':[0, np.NaN, np.NaN, 0, 1, 1, 0, 0, 1, 1],
        'test6':[np.NaN, 1, 0, np.NaN, 1, 0, np.NaN, 0, 0, 0]}
testDF = pd.DataFrame(data)
# testDF.fillna(0, inplace=True)
testDF

   test1  test2  test3  test4  test5  test6
0    NaN    1.0    NaN    0.0    0.0    NaN
1    1.0    1.0    NaN    1.0    NaN    1.0
2    0.0    1.0    NaN    0.0    NaN    0.0
3    NaN    NaN    0.0    0.0    0.0    NaN
4    NaN    NaN    0.0    NaN    1.0    1.0
5    NaN    NaN    0.0    1.0    1.0    0.0
6    NaN    NaN    1.0    1.0    0.0    NaN
7    0.0    0.0    1.0    0.0    0.0    0.0
8    0.0    0.0    1.0    0.0    1.0    0.0
9    1.0    0.0    0.0    1.0    1.0    0.0

In [250]:
testDF.corr()

          test1         test2     test3         test4     test5     test6
test1  1.000000  1.666667e-01 -1.000000  1.000000e+00  0.500000  0.612372
test2  0.166667  1.000000e+00       NaN  3.925231e-17 -0.577350  0.612372
test3 -1.000000           NaN  1.000000 -3.333333e-01 -0.416667 -0.408248
test4  1.000000  3.925231e-17 -0.333333  1.000000e+00  0.416667  0.447214
test5  0.500000 -5.773503e-01 -0.416667  4.166667e-01  1.000000  0.250000
test6  0.612372  6.123724e-01 -0.408248  4.472136e-01  0.250000  1.000000

In [254]:
testDF_ = testDF.fillna(0)
testDF_['test5'][[1, 3, 5, 7]] += 1.0
testDF = testDF_.replace(0, np.NaN)

In [255]:
testDF

   test1  test2  test3  test4  test5  test6
0    NaN    1.0    NaN    NaN    NaN    NaN
1    1.0    1.0    NaN    1.0    1.0    1.0
2    NaN    1.0    NaN    NaN    NaN    NaN
3    NaN    NaN    NaN    NaN    2.0    NaN
4    NaN    NaN    NaN    NaN    1.0    1.0
5    NaN    NaN    NaN    1.0    3.0    NaN
6    NaN    NaN    1.0    1.0    NaN    NaN
7    NaN    NaN    1.0    NaN    2.0    NaN
8    NaN    NaN    1.0    NaN    1.0    NaN
9    1.0    NaN    NaN    1.0    1.0    NaN

     item  score
0       3    0.0
292   736    0.0
290   721    0.0
289   719    0.0
288   717    0.0
287   716    0.0
286   714    0.0
285   713    0.0
284   712    0.0
283   711    0.0